<% if users.exists? %>
  <table class="table table-light table-striped">
    <thead>
      <tr>
        <th></th>
        <th>ユーザー</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% users.each do |user| %>
      <tbody>
        <tr>
          <td><%= image_tag user.get_profile_image(50,50) %></td>
          <td>
            <%= link_to user_path(user.id) do %>
              <%= user.name %>
            <% end %>
          </td>
          <td><%= user.followings.count %> フォロー</td>
          <td><%= user.followers.count %> フォロワー</td>
        </tr>
      </tbody>
    <% end %>
  </table>
<% else %>
  <p>ユーザーはいません</p>
<% end %>