<!DOCTYPE html>
<html>
  <head>
    <title>SneakerSocial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="ml-5">
      <div class="text-center mt-3"><h5><strong><%= flash[:notice] %></strong></h5></div>
      <div class="text-center mt-3"><h5><strong><%= flash[:alert] %></strong></h5></div>
     </div>
    <%= yield %>
    <!--<%#= render 'layouts/footer' %>-->
  </body>
</html>
